main {
	background-color: #2B2B2B;
	padding: 10px;
	color: #FFF;
}

#threeImgs {
	margin-right: auto;
	margin-left: auto;
}

.beardImg {
	display: inline-block;
	padding: 10px 10px;
}

.beardImg img {
	max-width: 170px;
}

.beardImg p {
	display: block;
	color: #FFF;
	padding: 0 2px;
	border: solid #2B2B2B 2px;
}

#team {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	background-color: #2B2B2B;
}

.beardImg:hover {
	border: solid #FFF 2px;
}


