#rating label {
  float: left;
  padding: 1em;
}

#rating label input {
  display: none;
}

#rating label img {
  height: 3.5em;
}

#rating label:hover {
  background-color: orange;
}

.selected {
  background-color: #000;
}
