#thoughts {
	width: 60%;
        height: 90px;
  background-color: white;
	padding: 5px;
	border: 1px solid #ccc; /*gray border*/
	border-radius: 10px; /*for roundedness in borders */
  margin-bottom: 5px;
  margin-top: 5px;
  /*display: block;*/
}

#emoji_rating label {
  float: left;
  padding: 1em;
}

#emoji_rating label input {
  display: none;
}

#emoji_rating label img {
  height: 3.5em;
}

.emoji:hover {
  background-color: gray!important;
}
