@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800|Faster+One');
:root {
  --light-color: #DCD0C0;
  --dark-color: #373737;
  --button-color: #373737;
}
body{
	margin:0;
	padding:0;
	background-color: var(--dark-color);
}
footer {
  text-align: center;
  color: white;
}
.titleArea h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 500%;
  color: white;
  text-align: center;
}
.titleArea h2{
  margin-top: 5px;
  font-size: 250%;
  text-align: center;
  color: white;
}
.subtitleArea {
  padding-top: 5px;
  font-size: 225%;
  margin-left: 10%;
  font-family: 'Alegreya Sans SC', sans-serif;
}
section div {
  letter-spacing: 0.5px;
  margin-left: 10%;
}
.butt{
  color: white;
  margin-left: 10%;
  background-color: var(--light-color);
}
.line-separator {
  background-color: white);
  border-bottom: 2px solid white;
}
.content {
  margin:0;
  padding:0;
  background-color: var(--light-color);
}
a:link, a:visited {
  padding: 0 5px;
  color: white;
}
/*
* input field for answers
*/
input[type=text], select, textarea, input[type=email] {
	width: 30%;
  background-color: white;
	padding: 5px;
	border: 1px solid #ccc; /*gray border*/
	border-radius: 10px; /*for roundedness in borders */
  margin-bottom: 5px;
  margin-top: 5px;
}
input[type=number], select, textarea {
  width: 30%;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc; /*gray border*/
  border-radius: 10px; /*for roundedness in borders */
  margin-bottom: 5px;
  margin-top: 5px;
}
