/*
* input field for answers
*/
input[type=text], select, textarea {
	width: 25%;
	padding: 12px;
	border: 1px solid #ccc; /*gray border*/
	border-radius: 4px; /*for roundedness in borders */
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;

}
/**
* next button at bottom of page
*/
input[type=Next] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=Next]:hover {
	background-color: #45a049; /* darkens the Next button a darker green color */
}

input[type=check-box]
/** 
* background color around entire questionaire
*/
.container {
	border-radius: 5px;
	background-color: #f3f3f3;
	padding: 20px;
}

/**
* check-box for yes/no questions
*/

.yes-no-check-input {
	width: 1px;
	height: 1px;
	position: absolute;
}

.yes-no-check-text {
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	background: #CCC;
	padding: 0.25em 0.5em 0.25em 2em;
	min-width: 2em;
	color: #FFF;
	cursor: pointer;
	transition: background-color 0.15s;
}

.yes-no-check-text: after {
	content: ' ';
	display: block;
	background: #FFF;
	width: 1.1em;
	height: 1.1em;
	border-radius: 1em;
	position: absolute;
	left: 0.3em;
	top: 0.25em;
	transition: left 0.15s, margin-left 0.15s;
}

.yes-no-check-text: before {
	content: 'No';
}

.yes-no-check-input: checked ~ .yes-no-check-text{
	background: #8ad869;
	padding-left: 0.5em;
	padding-right: 2em;
}

.yes-no-check-input: checked ~ .yes-no-check-text: before {
	content: 'Yes';
}

.yes-no-check-input: checked ~ .yes-no-check-text: after {
	left: 100%;
	margin-left: -1.4em;
}