@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800|Faster+One');
:root {
  --light-color: #DCD0C0;
  --dark-color: #373737;
  --button-color: #373737;
}
body{
	margin:0;
	padding:0;
	background-color: var(--dark-color);
}
footer {
  text-align: center;
  color: white;
}
.content {
  margin:0;
  padding:0;
  background-color: var(--light-color);
}
.titleArea h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 500%;
  color: white;
  text-align: center;
}
.titleArea h2{
  margin-top: 5px;
  text-align: center;
  color: white;
}
.line-separator {
  background-color: white);
  border-bottom: 2px solid white;
}
a:link, a:visited {
  padding: 0 5px;
  color: white;
}
/*
* input field for answers
*/
input[type=text], select, textarea {
	width: 25%;
	padding: 12px;
	border: 1px solid #ccc; /*gray border*/
	border-radius: 4px; /*for roundedness in borders */
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;

}
.link {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #2B2B2B;
  text-align: center;
  cursor: pointer;
}