#innerDiv {
  background-color: #FFF;
  padding: 3em;
  margin-top: 2em;
  text-align: center;
  border-radius: 10px;
}

#innerDiv h1 {
  margin: 0;

}

#innerDiv h2 {

}

#innerDiv h4 {
  margin: 0;
}

#link {
  margin-top: 1em;
}
